<section>
    <div>
        <h2>TO DO 'S</h2>
        <table>
            <thead>
                <tr>
                    <th>Prioridad</th>
                    <th>Tarea</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of taskList">
                    <td>{{item.priority}} </td>
                    <td>{{item.task}} </td>
                    <td>{{item.details}} </td>
                    <td><a class="btnDelete" (click)="deleteTask(item.id)" *ngIf="item.id">Eliminar</a></td>     <!-- *ngIf por si no existe id -->
                    <td><a class="btnEdit" [routerLink]="['/taskEdit', item.id]">Editar</a></td>
                </tr>
            </tbody>
        </table>
    </div>    
</section>