<div id="currencyTable">
    <table>
        <thead>
            <tr>
                <th>MONEDA</th>
                <th>COMPRA</th>
                <th>VENTA</th>
                <th>Actualizado</th>
            </tr>
        </thead>
        <tbody>
           <tr *ngIf="currencyEuro">
                <td>{{currencyEuro.nombre}}</td>
                <td>{{currencyEuro.compra}}</td>
                <td>{{currencyEuro.venta}}</td>
                <td>{{currencyEuro.fechaActualizacion}}</td>
            </tr>
           <tr *ngIf="currencyReal">
                <td>{{currencyReal.nombre}}</td>
                <td>{{currencyReal.compra}}</td>
                <td>{{currencyReal.venta}}</td>
                <td>{{currencyReal.fechaActualizacion}}</td>
            </tr>
           <tr *ngIf="currencyPChi">
                <td>{{currencyPChi.nombre}}</td>
                <td>{{currencyPChi.compra}}</td>
                <td>{{currencyPChi.venta}}</td>
                <td>{{currencyPChi.fechaActualizacion}}</td>
            </tr>
           <tr *ngIf="currencyPUru">
                <td>{{currencyPUru.nombre}}</td>
                <td>{{currencyPUru.compra}}</td>
                <td>{{currencyPUru.venta}}</td>
                <td>{{currencyPUru.fechaActualizacion}}</td>
            </tr>
        </tbody>
    </table>
</div>