<div id="dolarTable">
    <table>
        <thead>
            <tr>
                <th>DOLAR</th>
                <th>COMPRA</th>
                <th>VENTA</th>
                <th>Actualizado</th>
            </tr>
        </thead>
        <tbody id="clientes">
           <!--  <tr *ngFor="let item of currencyList">
                <td>{{item.nombre}}</td>
                <td>{{item.compra}}</td>
                <td>{{item.venta}}</td>
                <td>{{item.fechaActualizacion}}</td>
            </tr> -->
        </tbody>
    </table>
</div>