
.hero{
    background-image: url(../../../assets/img/hero/hero.png);
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3rem;
}