<h2>Valores de Mercado</h2>
<div id="dolarsGraph">
    <canvasjs-chart [options]="chartOptions"></canvasjs-chart>   
</div>
<div id="dolarTable">
    <table>
        <thead>
            <tr>
                <th>DOLAR</th>
                <th>COMPRA</th>
                <th>VENTA</th>
                <th>ACTUALIZADO</th>
            </tr>
        </thead>
        <tbody id="clientes">
            <tr *ngFor="let item of dolarList">
                <td>{{item.nombre}}</td>
                <td>${{item.compra}}</td>
                <td>${{item.venta}}</td>
                <td class="dateHour">{{formatDateHour(item.fechaActualizacion)}}</td>
            </tr>
        </tbody>
    </table>
</div>
