<fieldset>
    <legend>Iniciar Sesion</legend>
    <form [formGroup]="userForm">
      <div class="campo">
        <label for="user">USUARIO: </label>
        <input type="text" 
                id="idLogUser"
                placeholder="Usuario..."
                formControlName="user">
      </div>
      <div class="campo">
        <label for="pass">Contraseña: </label>
        <input [type]="showPassword ? 'text' : 'password'" 
                id="idLogPAss" 
                placeholder="Contraseña..." 
                formControlName="pass">
        <button (click)="toggleVisibility()">{{showPassword ? 'Esconder' : 'Mostrar'}}</button>
      </div>
      <div class="campo">
        <input type="submit" value="Iniciar Sesion" (click)="userLogIn()">
      </div>
    </form>
  </fieldset>