<div class="container">
  <fieldset>
    <legend>Iniciar Sesion</legend>
    <form [formGroup]="userForm">
      <div class="campo">
        <label for="user">USUARIO: </label>
        <input type="text" 
                id="idLogUser"
                placeholder="Usuario..."
                formControlName="user">
        </div>
      <div class="campo">
        <label for="pass">CONTRASEÑA: </label>
        <input [type]="showPassword ? 'text' : 'password'" 
                id="idLogPAss" 
                placeholder="Contraseña..." 
                formControlName="pass">
        <i (click)="toggleVisibility()" id="eye" class="fa fa-eye"></i>
      </div>
      <div class="btn">
        <input type="submit" value="Iniciar Sesion" (click)="userLogIn()">
      </div>
    </form>
  </fieldset>
</div>  