<div class="container">
    <fieldset>
        <legend>Nuevo Usuario</legend>
        <form (ngSubmit)="saveUser()" [formGroup]="userForm">
            <div class="inputs">
                <label for="idUser">USUARIO:</label>
                <input type="text" 
                        id="idUser" 
                        placeholder="Ingrese Nuevo Usuario..." 
                        formControlName="user"
                        >
            </div>
            <div class="error">
                <span  *ngIf="userForm.controls['user'].getError('required') && userForm.get('user')?.touched">
                    Campo Requerido
                </span>
                <span  *ngIf="userForm.controls['user'].getError('minlength') && userForm.get('user')?.touched">
                    Minimo 5 Caracteres
                </span>
                <span *ngIf="userForm.controls['user'].hasError('usernameTaken') && userForm.get('user')?.touched">
                    Nombre de usuario no disponible
                </span>
            </div>
            <div class="inputs">
                <label for="idPass">CONTRASEÑA: </label>
                <input type="password" 
                        id="idPass" 
                        placeholder="Ingrese Contraseña..." 
                        formControlName="pass"
                        >
            </div>
            <div class="error">
                <span  *ngIf="userForm.controls['pass'].getError('required') && userForm.get('pass')?.touched">
                    Campo Requerido
                </span>
                <span  *ngIf="userForm.controls['pass'].getError('minlength') && userForm.get('pass')?.touched">
                    Minimo 5 Caracteres
                </span>
            </div>
            <div class="btn">
                <input type="submit" value="Crear Usuario">
            </div>
        </form>
    </fieldset>
</div>

