h2{
    padding-top: 2rem;
    font-size: 4rem;
    text-align: center;
    color: var(--c-dBlue);
    text-decoration: underline;
    font-weight: bolder;
}
div {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}
@media(max-width: 1000px){
    div{
        margin: .5rem;
    }
}
table {
    width: 80%;
    font-size: 2rem;
    align-self: center;
    text-align: center;
    border-collapse: collapse;
}
@media(max-width: 1000px){
    table{
        width: 100%;
        font-size: 1.5rem;
    }
}
th, td{
    background-color: var(--c-dBlue);
    border: 3px solid var(--c-lBlue);
    padding: 1rem 5rem;
}
@media(max-width: 1000px){
    th, td{
        padding: .5rem;
    }
}
th{
    background-color: var(--c-lBlue);
    color: var(--c-dBlue);
}

.btnDelete{
    color: var(--c-lRed);
    text-decoration: none;
    cursor: pointer;
}
.btnEdit{
    color: var(--c-lGreen);
    text-decoration: none;
    cursor: pointer;
}
.btnDelete:hover, .btnEdit:hover{
    color: var(--c-white);
}