<section>
    <h2>TO DO 'S</h2>
    <div>
        <table>
            <thead>
                <tr>
                    <th>PRIORIDAD</th>
                    <th>TAREA</th>
                    <th>DETALLES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of taskList">
                    <td>{{item.priority}} </td>
                    <td>{{item.task}} </td>
                    <td>{{item.details}} </td>
                    <td><a class="btnEdit" [routerLink]="['/editTask', item.id]">Editar</a></td>
                    <td><a class="btnDelete" href="/userHome" (click)="deleteTask(item.id)" >Eliminar</a></td>  
                </tr>
            </tbody>
        </table>
    </div>    
</section>