<div class="main">
    <section class="seccion">
        <fieldset>
            <legend>Agregar Tarea</legend>
            <form id="formulario" (ngSubmit)="agregarTask()" [formGroup]="formulario">
                <div class="campo">
                    <label for="prioridad">Prioridad:</label>
                    <input type="number" id="prioridad" min="1" max="10" formControlName="priority">
                </div>
                <div class="error">
                    <span  *ngIf="formulario.controls['priority'].getError('required') && formulario.get('priority')?.touched">
                        Campo Requerido
                    </span>
                </div>
                <div class="campo">
                    <label for="activity">Actividad:</label>
                    <input type="text" id="actividad" formControlName="activity">
                </div>
                <div class="error">
                    <span  *ngIf="formulario.controls['activity'].getError('required') && formulario.get('activity')?.touched">
                        Campo Requerido
                    </span>
                </div>
                <div class="campo">
                    <label for="info">Describa su actividad:</label>
                    <textarea id="mensaje" name="mensaje" rows="4" cols="31" formControlName="info"></textarea>
                </div>
                <div class="error">
                    <span  *ngIf="formulario.controls['info'].getError('required') && formulario.get('info')?.touched">
                        Campo Requerido
                    </span>
                </div>
                <div class="campo">
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" formControlName="date">
                </div>
                <div class="error">
                    <span  *ngIf="formulario.controls['date'].getError('required') && formulario.get('date')?.touched">
                        Campo Requerido
                    </span>
                </div>
                <div class="campo">
                    <input type="hidden" id="id" name="id">
                </div>
                <div class="btn">
                    <input type="submit" value="Agregar actividad" id="agregar">
                </div>
            </form>
        </fieldset>
    </section>
</div>